html, body {
    height: 100%;
    margin: 0;
}

#home-image {
    height: 80%;
    width: 100%;
}

#logo {
    height: 128px;
    width: 128px;
}

#content {
    height: calc(100% - 128px);
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#links a {
    text-decoration: none;
}

#links {
    display: flex;
    list-style-type: none;
    gap: 100px;
}

h1, p {
    margin: 0;
}

#home h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    color: white;
}

#nav {
    background-color: #332878;
}

h2 {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
}

li {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #0079fa;
    cursor: pointer;
}

#sign-up-area {
    padding-left: 15px;
}

input {
    height: 36px;
    padding: 0px;
 }

button {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #0079fa;
    color: white;
    padding: 10px 20px;
    margin-left: 5px;
}

h3 {
    color: #0079fa;
}


