html, body {
    margin: 0;
}

#home-image {
    height: 650px;
    width: 100%;
}

#logo {
    height: 128px;
    width: 128px;
    padding: 10px;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#links a {
    text-decoration: none;
}

#links {
    display: flex;
    list-style-type: none;
    color: #0079fa;
    gap: 100px;
}

h1, p {
    margin: 0;
}

#home h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    color: white;
}

#nav {
    background-color: #332878;
}

h2 {
    font-size: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

#sources + ul {
    margin-top: 0;
}
li {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

#sign-up-area {
    padding-left: 15px;
}

input {
    height: 36px;
    padding: 0px;
 }

button {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #0079fa;
    color: white;
    padding: 10px 20px;
    margin-left: 5px;
}

h3, h1 {
    color: #0079fa;
}

#kevin, #linh, #adrian, #diarra, #rishabh, #jacob, #alexandra, #nikolai {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#kevin img, #linh img, #adrian img, #diarra img, #rishabh img, #jacob img, #alexandra img, #nikolai img {
    max-height:50%; 
    max-width:50%;
    margin-bottom: 30px;
}

#kevin p, #linh p, #adrian p, #diarra p {
    width: 80%;
}
#aboutus-content, #success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}

#aboutus-content div, #success-content div {
    width: 40%;
}

#international-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    padding-top: 10px;
}

#international-content div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

